h2 = "New quote form submission from #{@params['first_name']} #{@params['last_name']}"
hr
h4 style="margin: 0;" First name
p style="margin: 0;" = @params['first_name']

h4 style="margin: 0;" Last name
p style="margin: 0;" = @params['last_name']

h4 style="margin: 0;" Company name
p style="margin: 0;" = @params['company_name']

h4 style="margin: 0;" Email address
p style="margin: 0;" = @params['email_address']

h4 style="margin: 0;" Phone number
p style="margin: 0;" = @params['phone_number']

h4 style="margin: 0;" Zip code
p style="margin: 0;" = @params['zip']

h4 style="margin: 0;" Destination zip code
p style="margin: 0;" = @params['destination_zip']

h4 style="margin: 0;" Number of pieces
p style="margin: 0;" = @params['destination_zip']

h4 style="margin: 0;" Weight
p style="margin: 0;" = @params['weight']
