h2 = "New contact form submission from #{@params['name']}"
hr
p = "<strong>Name:</strong> #{@params['name']}".html_safe
p = "<strong>Company name:</strong> #{@params['company_name']}".html_safe
p = "<strong>Email address:</strong> #{@params['email_address']}".html_safe
p = "<strong>Question:</strong> #{@params['question']}".html_safe
