h2 = "New contact form submission from #{@params['name']}"
hr
h4 style="margin: 0;" Name
p style="margin: 0;" = @params['name']

h4 style="margin: 0;" Company name
p style="margin: 0;" = @params['company_name']

h4 style="margin: 0;" Email address
p style="margin: 0;" = @params['email_address']

h4 style="margin: 0;" Question
p style="margin: 0;" = @params['questiond']