h2 = "New contact form submission from #{@params['name']}"
hr
h5 Name
p = @params['name']

h5 Company name
p = @params['company_name']

h5 Email address
p = @params['email_address']

h5 Question
p = @params['questiond']